body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.salaries {
    /* box-sizing:; */
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    margin-bottom: 20px;
}

.salary {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.salary h2 {
    margin: 0;
    font-size: 1rem;
    color: #2a2a2a;
}

.salary p {
    margin: 5px 0 0;
    color: #666;
}

button {
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.profile {

    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    height:80%;
}

.profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

body{
    padding: 0;
    margin: 0;
}

.grid {
    max-width:max-content;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    "I1 I2 IB IB IB IB IB I3 I4"
    "I5 I6 IB IB IB IB IB I7 I8"
    "I9 I10 IB IB IB IB IB I11 I12"
    "I13 I14 I15 I16 I17 I18 I19 I20 I21"
    "I22 I23 I24 I25 I26 I27 I28 I29 I30";
    gap: 10px;
}
.item-back{
    grid-area: IB;
    position: static;
}
.item1{
    grid-area: I1;
    position: relative;
    top: 30px;
}
.item2{
    grid-area: I2;
    position: relative;
    top: 60px;
}
.item3{
    grid-area: I3;
    position: relative;
    top: 60px;
}
.item4{
    grid-area: I4;
    position: relative;
    top: 30px;
}
.item5{
    grid-area: I5;
    position: relative;
    top: 30px;
}
.item6{
    grid-area: I6;
    position: relative;
    top: 60px;
}.item7{
    grid-area: I7;
    position: relative;
    top: 60px;
}.item8{
    grid-area: I8;
    position: relative;
    top: 30px;
}.item9{
    grid-area: I9;
    position: relative;
    top: 30px;
}.item10{
    grid-area: I10;
    position: relative;
    top: 60px;
}.item11{
    grid-area: I11;
    position: relative;
    top: 60px;
}.item12{
    grid-area: I12;
    position: relative;
    top: 30px;
}.item13{
    grid-area: I13;
    position: relative;
    top: 30px;
}.item14{
    grid-area: I14;
    position: relative;
    top: 60px;
}.item15{
    grid-area: I15;
    position: relative;
    bottom: 120px;
}.item16{
    grid-area: I16;
    position: relative;
    bottom: 100px;
}.item17{
    grid-area: I17;
    position: relative;
    bottom: 80px;
}.item18{
    grid-area: I18;
    position: relative;
    bottom: 100px;
}.item19{
    grid-area: I19;
    position: relative;
    bottom: 120px;
}.item20{
    grid-area: I20;
    position: relative;
    top: 60px;
}.item21{
    grid-area: I21;
    position: relative;
    top: 30px;
}.item22{
    grid-area: I22;
    position: relative;
    top: 30px;
}.item23{
    grid-area: I23;
    position: relative;
    top: 60px;
}.item24{
    grid-area: I24;
    position: relative;
    bottom: 120px;
}.item25{
    grid-area: I25;
    position: relative;
    bottom: 100px;
}.item26{
    grid-area: I26;
    position: relative;
    bottom: 80px;
}.item27{
    grid-area: I27;
    position: relative;
    bottom: 100px;
}.item28{
    grid-area: I28;
    position: relative;
    bottom: 120px;
}.item29{
    grid-area: I29;
    position: relative;
    top: 60px;
}.item30{
    grid-area: I30;
    position: relative;
    top: 30px;
}